thead th:nth-child(1){
    width: 80px;
}
tbody td:nth-child(1){
    width: 80px;
}

thead th:nth-child(2){
    width: 200px;
}
tbody td:nth-child(2){
    width: 200px;
}

thead th:nth-child(3){
    width: 480px;
}
tbody td:nth-child(3){
    width: 480px;
}